<?xml version="1.0"?>
<configuration>
 	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key ="MaxDVDSendByCustomer" value ="4"/>
    <add key ="MaxRank" value ="-1"/>
    <add key="ogone_pspidBE" value="dvdpost"/>
    <add key="ogone_pwdBE" value="mulan3"/>
    <add key="ogone_pspidNL" value="dvdpostnl"/>
    <add key="ogone_pwdNL" value="cameo1"/>
    <add key ="Path_BatchOgone" value ="d:\temp\"/>
    <add key ="Path_Dom80" value ="d:\temp\"/>
    <add key ="Path_Dom70" value ="d:\temp\"/>
    <add key ="Path_LOG" value ="d:\temp\"/>
    <add key ="Path_EskerLoader" value ="D:\eskerloader\Soumission\"/>
    <add key ="WEBSERVICERECOMMENDATION" value ="http://ISITE/webservice/recommendations.php?customers_id=IID&amp;limit=7"/>
    <add key ="WEBSERVICESPONSOR" value ="http://ISITE/webservice/actions.php?customers_id=IID&amp;activation_code=ICODE"/>
    <add key ="WEBSERVICELINKCARD" value ="http://ISITE/webservice/gfc.php?customers_id=IID&amp;codes=ICODE"/>
    <add key ="WEBSERVICESUSPEND" value ="http://ISITE/webservice/suspend.php?customer_id=IID&amp;type=ITYPESUSPEND&amp;duration=IDAYS&amp;user_id=IUSERS"/>
    <add key ="WEBSERVICEUNSUSPEND" value ="http://ISITE/webservice/unsuspend.php?customer_id=IID&amp;type=ITYPESUSPEND&amp;duration=IDAYS&amp;user_id=IUSERS"/>
    <add key ="WEBSERVICEMOVIEDETAILS" value ="http://ISITE/webservice/movie_detail.php?product_id=IPRODUCT&amp;customer_id=IID&amp;type=ISEND "/>
    <add key ="WEBSERVICEVOD" value ="http://ISITE/webservice/vod_selection.php?limit=7&amp;customer_id=IID "/>
    <add key ="WEBSERVICERECOMMANDATIONDVD" value ="http://ISITE/webservice/recommendations_dvd_to_dvd.php?product_id=IPRODUCT&amp;limit=7&amp;customer_id=IID "/>
    <add key ="FILEZILLATEMPLATE" value ="Z:\VOD\FileZilla Template\filezilla.xml"/>
    <add key ="WEBSITEVOD" value ="http://beta.dvdpost.com/fr/streaming_products/"/>   
    <!--<add key ="Path_BatchOgone" value ="Z:\finance\ogone\batch ogone\"/>-->
    <!--<add key="StatusBarPanel2.Text" value=""/>
		<add key="XrLabel26.Visible" value="True"/>-->
	</appSettings>
  <connectionStrings >
    
    <add name="prod-WRITE"
           connectionString="server=192.168.100.204;port=3306;user id=4boules;password=s3r3n11?;persist security info=True;database=dvdpost_be_prod;charset=utf8;Connect Timeout=800000; pooling='true'; Max Pool Size=200"
           providerName="MySql.Data.MySqlClient" />
    <add name="prod-READ"
          connectionString="server=192.168.100.14;port=3306;user id=4boules;password=s3r3n11?;persist security info=True;database=dvdpost_be_prod;Connect Timeout=800000; pooling='true'; Max Pool Size=200"
          providerName="MySql.Data.MySqlClient" />
    <add name="test-WRITE"
           connectionString="server=192.168.100.204;port=3306;user id=4boules;password=s3r3n11?;persist security info=True;database=dvdpost_test;charset=utf8;Connect Timeout=800000; pooling='true'; Max Pool Size=200 "
           providerName="MySql.Data.MySqlClient" />
    <add name="test-READ"
          connectionString="server=192.168.100.14;port=3306;user id=4boules;password=s3r3n11?;persist security info=True;database=dvdpost_test;Connect Timeout=800000; pooling='true'; Max Pool Size=200 "
          providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
