<?xml version="1.0" encoding="utf-8" ?>
<configuration>
       
  <!--<appSettings>
    <add key ="MaxDVDSendByCustomer" value ="4"/>
  </appSettings>--> 
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DVDPostLib.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <!--<connectionStrings>
        <add name="DVDPostLib.My.MySettings.dvdpost_be_prodConnectionString"
            connectionString="server=192.168.0.204;user id=root;password=(:melissa:);charset=utf8;persist security info=True;database=dvdpost_be_prod"
            providerName="MySql.Data.MySqlClient" />
        <add name="DVDPostLib.My.MySettings.dvdpost_be_prodConnectionString1"
            connectionString="server=192.168.100.204;User Id=root;password=(:melissa:);charset=utf8;Persist Security Info=True;database=dvdpost_be_prod"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>-->
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <DVDPostLib.My.MySettings>
            <setting name="copier" serializeAs="String">
                <value>No</value>
            </setting>
        </DVDPostLib.My.MySettings>
    </userSettings>
</configuration>
